.intervue-poll {
    padding: 0.5rem 1rem;
    background-color: #5756D0;
    color: white;
    border-radius: 999px;
    margin-bottom: 2rem;
}

.intervue-poll svg {
    margin-right: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.heading{
    text-align: center;
    max-width: 51rem;
}
.heading h1{
    font-weight:normal;
    font-size: 2.65rem;
}
.heading h1 span{
    font-weight: bold;
}
.heading p{
    font-size: 1.35rem;
    color: #6E6E6E;
}
.link-btns{
    flex-direction: row;
    display: flex;
    gap: 2rem;
    max-width: 51rem;
    margin-top: 3rem;
}
.btn{
    color: black;
    border: 2px solid #DEDEDE;
    border-radius: 9px;
    padding: 25px 20px 40px;
    font-size: 1.1rem;
    cursor: pointer;
    /* transition: all 150ms; */
}
.btn-hover{
    border: 4px solid #7765DA;
    padding: 23px 18px 38px;
}
.btn p{
    color: #373737;
    margin-top: 7px;
    font-size: 1.15rem;
}
.continue{
    margin-top: 3rem;
    background-color: #5767D0;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 999px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-family: "Sora";
}

/* Student css */
.student-heading{
    max-width: 49.5rem;
}
.student-heading p{
    margin-top: 1rem;
    font-size: 1.25rem;
}
.student-heading p span{
    color: black;
    font-weight: bold;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    width: 100%;
    margin-top: 3rem;
    font-size: 17px;
}
.details label{
    width: 100%;
}
.details span{
    display: block;
}
.details input{
    width: 92%;
    margin-top: .5rem;
}

.details .continue {
    font-size: 18px;
}

.text-input{
    outline: none;
    border: none;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 18px;
    font-family: 'Sora';
}

/* Teacher css */
.teacher-container{
    align-items: start;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.que-form {
    padding-left: 7rem;
    margin-top: 6rem;
    max-width: 55rem;
    width: 100%;
}

.que-form .intervue-poll {
    width: fit-content;
}

.teacher-container .heading{
    text-align: left;
    max-width: 51rem;
    margin-left: 0.5rem;
}

.teacher-container .heading h1 {
    font-size: 2.5rem;
}

.teacher-container .heading p{
    margin-top: 1rem;
    font-size: 1.25rem;
}

.question {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    width: 100%;
}

.q-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    font-size: 19px;
}
.q-text span{
    font-weight: 600;
}
.q-text button{
    padding: 10px 20px 10px;
    outline: none;
    border: none;
    font-family: Sora;
}

.q-text div {
    position: relative;
}

.q-text div span {
    font-weight: 500;
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.time-dropdown {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    width: 81%;
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    list-style-type: none;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.35);
}

.time-dropdown li:hover {
    color: #5767D0;
}

.question-text {
    width: 100%;
    display: flex;
    position: relative;
}

.question-text span {
    position: absolute;
    right: 14px;
    bottom: 24px;
    z-index: 0;
}

textarea {
    z-index: 0;
    font-family: 'Sora';
    background-color: #f2f2f2;
    height: 10rem;
    font-size: 18px;
    padding: 1rem 1rem;
    resize: none;
    outline: none;
    border: none;
    margin-top: 1rem;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    max-width: 55rem;
    width: 100%;
    margin-top: 2rem;
}

.o-text {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 2rem;
    width: 100%;
}

.edit-op-head {
    width: 70%
}

.correct-head {
    width: 30%
}

.option-row {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;
}

.option-value {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

.option-row .text-input {
    width: 100%;
}

.option-row div {
    display: flex;
    width: 30%;
    justify-content: start;
    gap: 2rem;
}

.option-index {
    background-color: #7765DA;
    border-radius: 50%;
    font-family: monospace;
    padding: 5px 9px;
    color: white;
    text-align: center;
}

.option-correct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

.option-correct input{
    accent-color: #7765DA;
    transform: scale(1.5); /* to change the size of radio button*/
}

.add-option {
    border: 2px solid #7765DA;
    color: #7765DA;
    padding: 1rem;
    margin-left: 9.5rem;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ask-que{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    border-top: 2px solid #DEDEDE;
    /* padding-right: ; */
    margin-bottom: 1rem;
}

.ask-que .continue {
    margin-top: 1rem;
    margin-right: 4rem;
}

.teacher-res {
    max-width: 45rem;
    width: 100%;
}

/* waiting component css */
.loader{
   text-align: center; 
}
.loader img{
    width: 8rem;
}

/* Polling form css */
.form-container{
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    width: 100%
}

.form-container header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.form-container h1, .teacher-res h1 {
    font-size: 22px;
}

.poll-form{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #7765DA;
    border-radius: 8px;
    width: 100%;
}

.poll-question{
    background-color: #373737;
    color: white;
    padding: 1rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 600;
}

.options-container{
    margin-top: 10px;
    padding: 22px 22px 14px 14px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.options-container div {
    border: 1px solid #DEDEDE;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

.answer-selected {
    border-color:#7765DA !important;
    background-color: white !important;
}

.disabled-index {
    background-color: #8D8D8D;
}

.button-row {
    display: flex;
}
.button-row .continue {
    margin-left: auto;
    font-size: 18px;
}

.result-options-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
    padding: 22px 22px 14px 14px;
}

.result-option-row {
    display: flex;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    position: relative;
}

.result-option-val {
    z-index: 999;
}

.result-option-row .option-index {
    margin-right: 0.5rem;
    background-color: white;
    color: #7765DA;
}

.progress {
    position: absolute;
    border-radius: 6px;
    background-color: #7765DA;
    height: 100%;
    content: "";
    z-index: 1;
    left: 1px;
    transition: width 150ms;
}

.select-percent {
    z-index: 999;
}

.timer {
    display: flex;
    align-items: center;
    color: #c00;
    font-weight: 600;
    font-size: 18px;
}

.pls-wait {
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
    font-size: 20px;
}

/* Past Results */
.past-res-container {
    display: flex;
    height: 100%;
}

.past-results-col {
    margin-top: 5rem;
    margin-left: 30%;
    width: 80%;
    margin-right: 2rem;
}

.past-results-col header {
    text-align: left;
    margin-bottom: 3rem;
}

.past-results {
    padding-right: 42%;
    max-height: 50rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.response-container {
    margin-bottom: 3rem;
}

.view-past-link {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #8F64E1;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 999px;
}

.past-results::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #d9d9d9;
}

.past-results::-webkit-scrollbar {
	width: 10px;
	background-color: #D9D9D9;
  border-radius: 10px;
}

.past-results::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #828282;
}
